-e .
setuptools
# -e ../hachidaishu
# Structured generation
outlines # for regex and structured generation
magentic # for pydantic model structured generation

# API clients
litellm
google-generativeai # gemini
tiktoken

# Local models
# llama-cpp-python
# --extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu124
transformers
datasets
hf_transfer
accelerate
# autoawq # needs bitsandbytes
# torch
# --extra-index-url https://download.pytorch.org/whl/rocm6.0

jaconv

tqdm
loguru
duckdb
numpy
nltk # BLEU and CHRF eval
rouge-metric
matplotlib
seaborn
word-alignment-visualization
# Debug
prettytable
